<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>

<body>
    {% if message %}
      <h1>{{ message }}</h1>
    {% endif %}

    {% for data in data_set  %}
    <div>    
        <h2>Date: {{ data.photo.date_taken|date:"d M Y H:i:s"}}</h2>
        <h2>Temperatures: {{ data.temperature.temperature1 }}° C, {{ data.temperature.temperature2 }}° C </h2>
        <img src=" {{ data.photo.image.url }}" alt="">
        <img src=" {{ data.thermo.image.url }}" alt="">
        <hr>
    </div>

    {% endfor %}
    
    <div class="pagination">
        <span class="step_links">
            {% for page in pages %}
              <a href="?page={{ page }}"> {{ page }}</a>
            {% endfor %}
        </span>
    </div>
        <a href="{% url 'index' %}"><button>Home</button> </a>

</body>