<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>

<body>
    {% if messages %}
      <h1>{{ message }}</h1>
    {% endif %}
    
    {% for photo in photos %}
    <div>
        <p>{{photo.name}}</p>
        <img src="{{ photo.image.url }}" alt="">
    </div>
    {% endfor %}   

    {% for thermo in thermos %}
    <div>
            <p>{{thermo.name}}</p>
            <img src="{{ thermo.image.url }}" alt="">
        </div>
    {% endfor %} 
</body>